{% extends "polls/base.html" %}
{% block content %}
<h1 class="text-center">The Polling Station</h1>
{% if latest_question_list %}
    <div class="row mb-2">
        {% for question in latest_question_list %}
            <div class="col-md-6">
                <div class="card" style="height: 300px">
                  <div class="card-body">
                    <h5 class="card-title text-primary mb-0">
                        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                    </h5>
                    <div class="border-bottom pb-1">
                        <small class="text-muted">
                            Asked by {{ question.author }}: {{ question.pub_date }}
                        </small>
                    </div>
                    <div class="card-text">
                        <ul>
                            {% for choice in question.choice_set.all %}
                            <li><strong>{{ choice.choice_text }}</strong>: {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                  </div>

                  <div class="card-footer">
                      <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary ml-auto">Go to Vote</a>
                  </div>
                </div>
            </div> <! -- end col -->
        {% if forloop.counter|divisibleby:"2" %}
        </div>
        <div class="row mb-2">
        {% endif %}
        {% endfor %}
    </div> <! -- end row -->
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock content%}