{% extends "polls/base.html" %}
{% block content %}
<h1 class="text-center">The Polling Station</h1>
{% if latest_question_list %}
    <div class="row mb-2">
        {% for question in latest_question_list %}
            <div class="col-sm-6 mb-3">
                <div class="card" style="min-height: 350px">
                    <div class="card-header">
                        <h5 class="card-title text-primary text-center mb-0">
                            <a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
                        </h5>
                    </div>
                    <div class="card-body pt-0">
                    <div class="border-bottom pb-2">
                        <small class="text-muted">
                            Asked by <strong>{{ question.author }}</strong> on {{ question.pub_date }}
                        </small>
                        <div>
                          <img class="img-fluid rounded" style="max-width:25%; height=auto" src="{{ question.author.profile.image.url }}">
                      </div>
                    </div>

                    <div class="card-text">
                        <ul>
                            {% for choice in question.choice_set.all %}
                            <li><strong>{{ choice.choice_text }}</strong>: {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                  </div>

                  <div class="card-footer text-center">
                      {% if user.is_authenticated %}
                      <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-lg btn-block">Vote</a>
                      {% else %}
                      <a href="{% url 'accounts:register' %}" class="text-primary">Register to Vote</a>
                      {% endif %}
                  </div>
                </div>
            </div> <! -- end col -->
        {% if forloop.counter|divisibleby:"2" %}
        </div>
        <div class="row mb-2">
        {% endif %}
        {% endfor %}
    </div> <! -- end row -->
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock content%}